<!DOCTYPE node PUBLIC "-//freedesktop//DTD D-BUS Object Introspection 1.0//EN"
  "http://www.freedesktop.org/standards/dbus/1.0/introspect.dtd">
<node>
  <interface name="com.realdesert.Media">
    <method name="FindFor">
      <arg direction="in" type="s" name="url"/>
    </method>
    <signal name="Identified">
      <arg type="s" name="result"/>
    </signal>
  </interface>
</node>
